body{
    margin: 0%;
    background-color: #F2F2F2;
}

.nav{
    display: flex;
    align-items: center;
    height : 10vh;
    width : 100%;
    background-color: #9DC183;
    margin: 0%;
    padding: 0%;
    padding:40px;
}

.nav .logo{
    height:15vh;
}

.nav a{
    margin-left: 6%;
    padding: 3vh;
    text-decoration:none;
    font-family:arial;
    color:black;
    font-size: 2.6vh;
    align-items: center;
}

.nav .text{
    border:solid;
    border-color: #8CA47B;
    border-width:0.5px;
    background-color: #FF6F61;
    border-radius:50%;
    color:	#FFFFFF;
    padding: 2vh;
}