<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/homepage.css">
</head>
<body>
    <nav class="nav">
        <a href="homepage"><img src = "/static/images/HarmonyHavenLogo.png" class = "logo"></a>
        <a href="#Therapists" class = "text">Therapists</a>
        <a href="#Online Tests" class = "text">Online Tests</a>
        <a href="#Articles" class = "text">Articles</a>
        <a href="#About Us" class = "text">About Us</a>
        <a href="#loginpage" class = "text" id = "login">My Profile</a>
    </nav>
    Hello, I am checking if my project is working...
</body>
</html>