<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/homepage.css">
</head>
<body>
    <nav class="nav">
        <a href="homepage"><img src = "/static/images/BrightHorizonsLogo.png" class = "logo"></a>
        <a href="#Therapists">Therapists</a>
        <a href="#Online Tests">Online Tests</a>
        <a href="#Articles">Articles</a>
    </nav>
    Hello, I am checking if my project is working
</body>
</html>